.containerProject {
    margin-top: 70px;
    width: 40vw;
  }
  .fundoProjeto {
    text-align: center;
    display: grid;
    width: 40vw;
    overflow: hidden;
    justify-content: center;
  }
  .imgProjeto {
    width: 49vw;
    height: 30vw;
    margin: auto;
    cursor: pointer;
    justify-content: center;
  }
  .name {
    font-size: 3.5vw;
    cursor: pointer;
  }
  @media screen and (max-width: 453px) {
    .descricao {
      font-size: 8pt;
    }
  }